/* Color Theme Swatches in Hex */
/*.principal { color: #E06C22; }
.My-Color-Theme-2-hex { color: #409DA1; }
.destaque { color: #21DAE1; }
. { color: #8B5F43; }
.background { color: #3F6061; }*/

html { 

   color:#E06C22;
background: #3F6061;
}





